* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Victor Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #222222;
    overflow-x: hidden;
    scroll-behavior: smooth; /* Scrolling fluido */
}

.victor-mono-font {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth; /* Scrolling fluido */
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.background-container img {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth; /* Scrolling fluido */
    z-index: 0;
    object-fit: cover;
}

.home {
    display: flex;
    position: fixed;
    top: 2rem;
    z-index: 100;
    left: 4rem;
    transform: translateX(0%);
    align-items: center;
}

.home::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    z-index: 99;
    border-radius: 0rem 0rem 1.25rem 1.25rem;
    transform: translateX(-50%) translateY(-50%);
    width: 2.5rem; /* Copre l'intera larghezza della viewport */
    height: 5rem; /* Altezza */
    background: #222222;
    pointer-events: none; /* Permette di interagire con gli elementi sottostanti */
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.316), 
                -1px -3px 4px rgba(255, 255, 255, 0.085),
                inset 0.5px 0.75px 2.5px rgba(255, 255, 255, 0.153),
                inset -3px -3.5px 2.5px rgba(0, 0, 0, 0.5);
}

.home .nav-link {
    color: #ffffff;
    z-index: 1000;
    text-decoration: none;
    font-size: 0.8rem !important;
    transform: translateX(-62%) translateY(0%);
}

.icon-home {
    top: -0.3rem;
    left: 0.1rem;
    width: 24px;
    height: 24px;
    position: relative;
}

.icon-home::before,
.icon-home::after {
    content: '';
    position: absolute;
    background: #333;
}

.icon-home::before {
    /* Tetto */
    width: 14px;
    height: 4px;
    top: 4px;
    left: 5px;
    transform: rotate(45deg);
    border-radius: 2px 2px 0 0;
}

.icon-home::after {
    /* Base */
    width: 18px;
    height: 10px;
    bottom: 2px;
    left: 3px;
    border-radius: 0 0 3px 3px;
}

.nav-link:hover .icon-home::before,
.nav-link:hover .icon-home::after {
    background: #666;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Header */
.header {
    display: flex;
    gap: 1.2rem; /* Spaziatura */
    width: 60vw;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    position: fixed;
    top: 2rem;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.header::before {
    content: '';
    position: absolute;
    top: -2.2rem;
    left: 50%;
    z-index: 99;
    border-radius: 1.25rem;
    transform: translateX(-50%) translateY(1.56rem);
    width: 60vw; /* Copre l'intera larghezza della viewport */
    height: 2.5rem; /* Altezza */
    background: #222222;
    pointer-events: none; /* Permette di interagire con gli elementi sottostanti */
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.316), 
    -1px -3px 4px rgba(255, 255, 255, 0.085),
    inset 0.5px 0.75px 2.5px rgba(255, 255, 255, 0.153),
    inset -3px -3.5px 2.5px rgba(0, 0, 0, 0.5);
}
        
.header div {
    display: flex;
    z-index: 99;
    justify-content: left;
    cursor: pointer;
    align-items: center;
    font-weight: 300;
    font-size: 0.8rem !important;
}

/* Allineamento specifico per le colonne */
.header .nav-link {
    color: #ffffff;
    z-index: 1000;
    text-decoration: none;
    font-size: 0.8rem !important;
}

.header .nav-link:hover {
    color: #b4b4b4;
}

.header .social-links {
    display: flex;
    text-align: right;
    gap: 0.7rem; /* Spaziatura */
    justify-content: flex-end; 
    width: 100%;
}

.header .social-links a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
}

.header .social-links a:hover {
    color: #b4b4b4;
}

.home-container {
    width: 90vw; /* Usa la viewport width */
    position: absolute;
    z-index: 91;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    mix-blend-mode: difference;
    user-select: none;
}

.title {
    color: #565656;
    text-align: center;
    font-weight: 700;
    font-size: 1px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* ZOOM HOME */

.zoom-stage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.zoom-element {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: 
      transform 0.9s cubic-bezier(0.33, 1, 0.68, 1),
      opacity 0.6s ease;
    pointer-events: none;
    z-index: 1;
}

.zoom-element.active {
    pointer-events: all;
    z-index: 2;
}
  
.zoom-element.current {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) !important;
    z-index: 3;
}
  
.zoom-element.exiting {
    z-index: 1;
    transition: 
      transform 0.8s cubic-bezier(0.32, 0, 0.67, 0),
      opacity 1.3s ease;
}

.media-content {
    max-height: 700px;
    transform: translateZ(0.1px) scale(0.98);
    transition: 
      transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      filter 0.3s ease;
    filter: brightness(0.9);
}

/* Immagini Progetti */

.gif-grid {
    position: fixed;
    transform: translate(-50%,-50%) !important;
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.gif-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    animation: cellFloat 6s ease-in-out infinite;
    perspective: 1000px;
}

.gif-image {
    width: 300px;
    height: 300px;
    object-fit: contain; /* Mantiene l'aspect ratio originale */
    transform: scale(0.1);
    transition: all 0.5s ease-in-out;
    animation: imageZoom 1.5s 0.3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes cellFloat {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* CARD */
.cards-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background: #222;
    font-size: 2rem;
    display: none; /* inizialmente nascosta */
    
}

.card {
    position: absolute;
    transform: translate(-50%,-50%) !important;
    width: 600px;
    height: 450px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #fff;
    /* Inizialmente invisibili e ridotte */
    opacity: 0;
    transform: scale(0.5);
    /* Animazione che dura 8s e si ripete all'infinito */
    animation: cardCycle 8s infinite;
}

.card:nth-child(1) {
    background: #ff5f6d;
    animation-delay: 0s;
}

.card:nth-child(2) {
    background: #ffc371;
    animation-delay: 2s;
}

.card:nth-child(3) {
    background: #6a82fb;
    animation-delay: 4s;
}
.card:nth-child(4) {
    background: #fc5c7d;
    animation-delay: 6s;
}



@keyframes cardCycle {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    
    10% {
        opacity: 1;
        transform: scale(1);
    }
    
    40% {
        opacity: 1;
        transform: scale(1);
    }
    
    50% {
        opacity: 0;
        transform: scale(0.5);
    }
    
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
  
/* .card:hover {
    animation: cardRotation 2s linear infinite;
} */

/* scrollbar */
::-webkit-scrollbar {
    z-index: -1;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #111111;
    border-radius: 4px;
}